h1 {
    font-weight: 700;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 100%;
}

.item-container {
    text-align: left;
    
}

.DM-button {
    min-width: 80px;
   
}

.DM-row {
    margin: 10px 5px;
    align-items: center;
}
.todocontainer{
    
    background-image: url(./components/images/tododity.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: "cover";
    min-height: 100vh;

}
.listcontainer{
        
      background-color: white;
      width: 600px;
      border-radius: 20px;
}
